jest.config.js
src/serviceWorker.ts
src/reportWebVitals.ts
dist/
node_modules/
coverage
.github
.editorconfig
.env.
.env.example
.env.sample
.eslintignore
.gitignore
/tsconfig.json
.eslintrc.json
README.md
package.json
manifest.json
commitlint.config.js
src/setupTests.ts
*.css
*.svg
tailwind.config.js
server.js